header{
    background-color: var(--Blue);
    color: var(--Very-Light-Gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.header__nav-bar-container{
    display: flex;
}
h1{
    font-size: 3rem;
}
.header__nav-bar-container > li{
    list-style: none;
}
.header__nav-bar-container > li > a{
    color: var(--Very-Light-Gray);
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 2rem;
    font-weight: bold;
}
.header__nav-bar-container > li > a:hover{
    color: var(--Very-Dark-Blue);
}