*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html{
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Blue: hsl(212, 86%, 64%);
  --Grayish-blue: hsl(229, 6%, 66%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  font-size: 62.5%;
}
.see-more-container{
  text-align: center;
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Grayish-blue);
}
.see-more{
  text-decoration: none;
  color: var(--Blue);
  font-size: 3rem;
}
.see-more:hover{
  color: var(--Cyan);
}